@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your index.css or App.css */

/* Import the Poppins font */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */

/* Set Poppins as the default font */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

/* In your index.css or App.css */
.font-bebas-neue {
    font-family: 'Bebas Neue', sans-serif;
}

body {
font-family: 'Montserrat', sans-serif;
}

  
